@*
   1111
*@
@{
    
}
@model NavbarSearchResultViewmodel
<div class="container my-4 mod Mod">
    <h3>搜尋結果：</h3>
    @if (Model != null && Model.Mods.Count > 0 )
    {
        <div class="row ModRow" id="modCardRow">
        
            @foreach (var mod in Model.Mods)
            {
                <div class="col-12 col-md-3 mt-3">
                    <div class="card">
                        <div class="pic">
                            <a href="@Url.Action("Details", "Mods",new { id = mod.ModId })">
                                <img src="@(mod.Thumbnail == null ? "https://picsum.photos/300/200/?random=10" : mod.Thumbnail)">
                            </a>
                        </div>
                        <div class="text">
                            <div class="name_price">
                                <h3 class="name">@mod.ModName</h3>
                                <h3 class="price">@(mod.Price == 0 ? "Free" : mod.Price + " NTD")</h3>
                            </div>
                            <div class="detail">
                                <h2 class="tag" id="tag-id-@(mod.ModId)"><span class="badge bg-secondary" id="previewGame">@mod.GameName</span></h2>
                                <h3 class="author"><span>作者：</span>@mod.AuthorName</h3>
                                <h3 class="creatTime"><span>上傳日期：</span>@mod.CreateTime</h3>
                                <h3 class="UpdateTime"><span>更新日期：</span>@mod.UpdateTime</h3>
                                <p class="describe" id="describe-id-@(mod.ModId)">@mod.Description</p>
                            </div>
                        </div>
                        <div class="data">
                            <h3><span>容量：</span>@mod.Capacity</h3>
                            <h3><span>點贊：</span>@mod.LikeCount</h3>
                            <h3><span>收藏：</span>@mod.FavoriteCount</h3>
                            <h3><span>下載：</span>@mod.DownloadCount</h3>
                        </div>
                    </div>
                </div>
            }
            <div class="more-mod-Pagination">
                <nav aria-label="Page navigation ">
                    <ul class="pagination">
                        @if (Model.ModCurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0);" onclick="loadPageMod(@((int)Model.ModCurrentPage - 1))" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (var i = 1; i <= Model.ModTotalPages; i++)
                        {
                            <li class="page-item @(i == Model.ModCurrentPage ? "active" : "")">
                                <a class="page-link" href="javascript:void(0);" onclick="loadPageMod(@i)">@i</a>
                            </li>
                        }
                        @if (Model.ModCurrentPage < Model.ModTotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0);" onclick="loadPageMod(@((int)Model.ModCurrentPage + 1))" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }

                    </ul>
                </nav>
            </div>
        </div>
    }
    else
    {
        <div class="row nofound" id="modCardRow"><p>找不到任何相關搜尋</p></div>
    }

</div>