@model NavbarSearchResultViewmodel
<div class="container my-4 mod Game">
    <h3>搜尋結果：</h3>
    @if (Model != null && Model.Games.Count > 0)
    {
         <div class="row GameRow" id="modCardRow">
        @foreach (var game in Model.Games)
        {
            <div class="col-12 col-md-3 mt-3">
                <a href="@Url.Action("Details", "Games", new { id = game.GameId })">
                    <div class="card">
                        <div class="pic">
                            <img src="@game.Thumbnail" alt="Thumbnail" style=" display: block; width: 100%;height: 100%;object-fit: scale-down;">
                        </div>
                        <div class="text">
                            <div class="name_price">
                                <h2>@game.GameName</h2>

                            </div>

                        </div>

                    </div>
                </a>
            </div>
        }
        <div class="more-mod-Pagination">
            <nav aria-label="Page navigation ">
                <ul class="pagination">
                    @if (Model.GameCurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" onclick="loadPageGame(@((int)Model.GameCurrentPage - 1))" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (var i = 1; i <= Model.GameTotalPages; i++)
                    {
                        <li class="page-item @(i == Model.GameCurrentPage ? "active" : "")">
                            <a class="page-link" href="javascript:void(0);" onclick="loadPageGame(@i)">@i</a>
                        </li>
                    }
                    @if (Model.GameCurrentPage < Model.GameTotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" onclick="loadPageGame(@((int)Model.GameCurrentPage + 1))" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }

                </ul>
            </nav>
        </div>
        </div>
    }
    else
    {
        <div class="row nofound" id="modCardRow"><p>找不到任何相關搜尋</p></div>
    }
</div>
