
@{
    ViewData["Title"] = "SearchResult";
}

<h1>SearchResult</h1>
@model HomeIndexViewModel

@*@if (Model != null &&   Model.Count > 0)
{
    <ul class="search-results">
        @foreach (var result in Model)
        {
            <li>@result.GameName - @result.ModName</li>
        }
    </ul>
}
else
{
    <p>No results found.</p>
}*@
<div class="container my-4 mod">
    <h3>熱門Mod：</h3>
    <div class="row" id="modCardRow">
        @foreach (var mod in Model.Mods)
        {
            <div class="col-12 col-md-3 mt-3">
                <div class="card">
                    <div class="pic">
                        <a href="@Url.Action("Details", new { id = mod.ModId })">
                            <img src=@(mod.Thumbnail == null ? "https://picsum.photos/300/200/?random=10" : mod.Thumbnail)>
                        </a>
                    </div>
                    <div class="text">
                        <div class="name_price">
                            <h3 class="name">@mod.ModName</h3>
                            <h3 class="price">@(mod.Price == 0 ? "Free" : mod.Price + " NTD")</h3>
                        </div>
                        <div class="detail">
                            <h2 class="tag" id="tag-id-@(mod.ModId)"><span class="badge bg-secondary" id="previewGame">@mod.GameName</span></h2>
                            <h3 class="author"><span>作者：</span>@mod.AuthorName</h3>
                            <h3 class="creatTime"><span>上傳日期：</span>@mod.CreateTime</h3>
                            <h3 class="UpdateTime"><span>更新日期：</span>@mod.UpdateTime</h3>
                            <p class="describe" id="describe-id-@(mod.ModId)"></p>
                        </div>
                    </div>
                    <div class="data">
                        <h3><span>容量：</span>@mod.Capacity</h3>
                        <h3><span>點贊：</span>@mod.LikeCount</h3>
                        <h3><span>收藏：</span>@mod.FavoriteCount</h3>
                        <h3><span>下載：</span>@mod.DownloadCount</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
