@model GameModCrafters.Models.Transaction

@{
    ViewData["Title"] = "Details";
}


<div class="container mt-4">
    <h2>交易細節</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commission)
        </dt>
        <dd class="col-sm-10">
            <a href="/Commissions/Details/@Html.DisplayFor(model => model.Commission.CommissionId)">@Html.DisplayFor(model => model.Commission.CommissionTitle)</a>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Describe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Describe)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget) Mod Coin
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payer.Username) (@Html.DisplayFor(model => model.Payer.Email))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payee.Username) (@Html.DisplayFor(model => model.Payee.Email))
        </dd>

        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        
        
    </dl>
</div>
<div>
    @if (@User.FindFirstValue(ClaimTypes.Email) == Model.PayerId)
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.TransactionId">修改細節</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.TransactionId">刪除此交易</a>
    }
    @if (@User.FindFirstValue(ClaimTypes.Email) == Model.PayeeId)
    {
        if (Model.TransactionStatus)
        {
            <a class="btn btn-primary" asp-action="SubmitFile" asp-route-id="@Model.TransactionId">提交成品</a>
        }
        else
        {
            <button class="btn btn-primary" id="AcceptCommissionBtn">接受委託</button>
        }
    }
</div>

@section js{
    <script>
        $("#AcceptCommissionBtn").on("click", () => {
            var transactionId = "@Model.TransactionId"; 
            $.ajax({
                url: '/Transactions/AcceptCommission',
                method: 'POST',
                data: { transactionId: transactionId },
                success: function (data) {
                    window.location.href = data;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // 錯誤的處理
                }
            })
        })
    </script>
}