@model ModDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 my-3">
            <a href="" class="author">
                <div class="card">
                    <div class="pic">
                        <img src="https://picsum.photos/300/200/?random=2">
                    </div>
                    <div class="authorData">
                        <h3 class="name">@Model.AuthorName</h3>
                        <div class="detail">
                            <div> 作品數量：@Model.AuthorWorkCount</div>
                            <div> 獲讚數：@Model.AuthorLikesReceived</div>
                        </div>
                    </div>
                    <div class="avatar">
                        <img src="https://picsum.photos/100/100/?random=1">
                    </div>
                </div>
            </a>
            @if (Model.AuthorName == User.Identity.Name)
            {
                <div class="ModOption mt-3">
                    <button class="btn btn-primary">
                        <a asp-controller="Mods" asp-action="Edit" asp-route-id="@Model.ModId" style="color: white; text-decoration: none;">修改Mod資訊</a>
                    </button>

                    <form asp-action="Delete" asp-controller="Mods" asp-route-id="@Model.ModId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('確定要刪除此Mod嗎？')">刪除Mod</button>
                    </form>
                </div>
            }
            
        </div>
        <div class="col-12 col-md-9">
            <div class="content">
                <h2>@Model.ModName</h2>
                <div id="tag"></div>
                <hr>
                <div class="date_like">
                    <h4>上傳日期：@Model.CreateTime 更新日期：@Model.UpdateTime</h4>
                    <div class="like">
                        <button type="button" class="btn btn-light">
                            <i class="fas fa-thumbs-up"
                               style="color: pink"></i> @Model.LikeCount
                        </button>
                        <button type="button" class="btn btn-light">
                            <i class="fas fa-star" style="color: pink"></i> @Model.FavoriteCount
                        </button>
                    </div>
                </div>
                <div class="introduction active" id="Description"></div>
                <div class="introduction" id="InstallationInstructions"></div>
                <div class="introduction">
                    <div id="comments-section">
                        @await Html.PartialAsync("_CommentsPartial", Model)
                    </div>
                    <form id="comment-form">
                        <div class="input-container">
                            <input type="hidden" id="modId" value="@Model.ModId" />
                            <input type="hidden" id="userId" value="@User.FindFirstValue(ClaimTypes.Email)" />
                            <input type="text" id="content" class="input" placeholder="輸入你的留言" />
                            <button type="submit" class="submit">提交</button>
                        </div>
                    </form>
                </div>

                <div class="tag-buttons">
                    <button class="btn btn-outline-secondary btn_active">模組簡介</button>
                    <button class="btn btn-outline-secondary">安裝方式</button>
                    <button class="btn btn-outline-secondary">留言區</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section css{
    <link href="~/css/moddetailstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
}

@section js{
    <script>
        $(document).ready(function () {
            $(".tag-buttons button").on("click", function () {
                var pageIndex = $(this).index();

                $(".btn.btn-outline-secondary.btn_active").removeClass("btn_active");
                $(".btn.btn-outline-secondary").eq(pageIndex).addClass("btn_active");

                // Hide the currently active page and remove the active class
                $(".introduction.active").removeClass("active").hide();

                // Show the selected page and add the active class
                $(".introduction").eq(pageIndex).addClass("active").show();
            });

            $("#Description").html('@Html.Raw(Model.Description)');

            $("#InstallationInstructions").html("@Html.Raw(Model.InstallationInstructions)");

            AddTag();
        });

        function AddTag() {
            var tagContainer = $("#tag");
            var tagNames = @Html.Raw(Json.Serialize(Model.Tags));
            tagNames.forEach(function (tagName) {
                var spanElement = document.createElement("span");
                spanElement.className = "badge bg-secondary";
                spanElement.textContent = tagName;
                tagContainer.append(spanElement); 
            });
        }
    </script>

    <script>
        function CommentSubmit(){
            $("#comment-form").on("submit", function (e) {
                e.preventDefault();
                var modId = $("#modId").val();
                var userId = $("#userId").val();
                var content = $("#content").val();
                $.ajax({
                    url: '/Mods/CreateComment',
                    type: 'POST',
                    data: {
                        modId: modId,
                        userId: userId,
                        content: content
                    },
                    success: function (result) {
                        $("#content").val('');
                        $("#comments-section").html(result);
                        DeleteButton();
                    }
                });
            });
        }

        function DeleteButton() {
            $('.message').off('mouseenter mouseleave');
            $('.delete-button').off('click');

            $('.message').hover(function () {
                $(this).find('.delete-button').show();
            }, function () {
                $(this).find('.delete-button').hide();
            });

            $('.delete-button').click(function () {
                var modId = $("#modId").val();
                var commentId = $(this).data('comment-id');
                $.ajax({
                    url: '/Mods/DeleteComment',
                    type: 'POST',
                    data: {
                        modId: modId,
                        commentId: commentId
                    },
                    success: function (result) {
                        $("#comments-section").html(result);
                        DeleteButton();
                    }
                });
            });
        }

        $(document).ready(function () {
            CommentSubmit();
            DeleteButton();
        });

        
    </script>
}
