@model List<CommissionViewModel>;


@{
    ViewData["Title"] = "GetAllTrackingCommission";
}

<div class="container my-4 mod Released_mods" id="publishedModsContainer"></div>
<div class="container wire"></div>

<div class="container entrust Release_Area_Wrap paging">
    <div class="title">
        <h3>以追蹤委託:</h3>

    </div>
    <div class="container text-center mod-list">
        <div class="row align-items-start rowwrap">
            <div class="col GameNameTitle">
                遊戲
            </div>
            <div class="col-4 titleTitle">
                Title
            </div>
            <div class="col SendernNameTitle">
                發文人
            </div>
            <div class="col-2 SenderDateTitle">
                發文日
            </div>
            <div class="col-2 LastReplyTitle">
                最後回覆
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row align-items-start rowwrap">
                
                <a href="@Url.Action("Details", "Games", new { id = item.GameID })" class="col GameName">
                    @item.GameName
                </a>
                
                
                <a href="@Url.Action("Details", "Commissions", new { id = item.CommissionId })" class="col-4 title">
                    @item.CommissionTitle
                </a>
                
                <div class="col SendernName">
                    @item.DelegatorName
                </div>
                <div class="col-2 SenderDate">
                    @item.CreateTime
                </div>
                <div class="col-2 LastReply">
                    @item.UpdateTime
                </div>
            </div>
        }
    </div>
</div>

@section css{
    <link href="~/css/CommissionTable.css" rel="stylesheet" />
}