@model IEnumerable<GameModCrafters.Models.Commission>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommissionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommissionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommissionStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommissionTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trash)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CommissionId">Edit</a> 
            </tr>
        }
    </tbody>
</table>
