@model List<CommissionViewModel>

@{
    ViewData["Title"] = "Index";
}



<div class="container my-4 mod Released_mods" id="publishedModsContainer"></div>
<div class="container wire"></div>

<div class="container entrust Release_Area_Wrap paging">
    <div class="title">
        <h3>委託的mod:</h3>

    </div>
    <div class="container text-center mod-list">
        <div class="row align-items-start">
            <div class="col GameName">
                遊戲
            </div>
            <div class="col-6 title">
                Title
            </div>
            <div class="col SendernName">
                發文人
            </div>
            <div class="col SenderDate">
                發文日
            </div>
            <div class="col LastReply">
                最後回覆
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row align-items-start">
                <div class="col GameName">
                    <a href="@Url.Action("Details", "Games", new { id = item.GameID })">
                        @item.GameName
                    </a>
                </div>

                @if (item.Status != "s02")
                {
                    <div class="col-6 title">
                        <a href="@Url.Action("Edit", "Commissions", new { id = item.CommissionId })">
                            @item.CommissionTitle
                        </a>
                    </div>
                }

                @if (item.Status == "s02")
                {
                    <div class="col-6 title">
                        <a href="@Url.Action("Edit", "Commissions", new { id = item.CommissionId })">
                            @item.CommissionTitle
                        </a>
                    </div>
                }
                
                <div class="col SendernName">
                    @item.DelegatorName
                </div>
                <div class="col SenderDate">
                    @item.CreateTime
                </div>
                <div class="col LastReply">
                    @item.UpdateTime
                </div>
            </div>
        }
    </div>
</div>

@section css{
    <link href="~/css/commissiontable.css" rel="stylesheet" />
}