@model List<CommissionViewModel>

@{
    ViewData["Title"] = "Index";
}



<div class="container my-4 mod Released_mods" id="publishedModsContainer"></div>
<div class="container wire"></div>

<div class="container entrust Release_Area_Wrap paging">
    <div class="title">
        <h3>委託的mod:</h3>

    </div>
    <div class="container text-center mod-list">
        <div class="row align-items-start">
            <div class="col-6 title">
                Title
            </div>
            <div class="col SendernName">
                發文人
            </div>
            <div class="col SenderDate">
                發文日
            </div>
            <div class="col LastReply">
                最後回覆
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row align-items-start">
                <div class="col-6 title">
                    <a href="@Url.Action("Edit", "Commissions", new { id = item.CommissionId })">
                        @item.CommissionTitle
                    </a>
                </div>
                <div class="col SendernName">
                    @item.DelegatorName
                </div>
                <div class="col SenderDate">
                    @item.CreateTime
                </div>
                <div class="col LastReply">
                    @item.UpdateTime
                </div>
            </div>
        }
    </div>
</div>
@section css{

        @*<link rel="stylesheet" href="~/css/GamePage_style.css" />*@
    <style>
            .Release_Area_Wrap {
                background-color: #bdbcbc;
                /* background-image: linear-gradient(to bottom, #d7e9f7, #c6dced); */
                border-top: 1px solid #a4b6c3;
                border-bottom: 1px solid #a4b6c3;
                margin: 10px auto;
                padding: 10px 0;
                /* display: flex;
                justify-content: center;
                align-items: center; */
            }

            .entrust_link a {
                padding: 0 5px;
            }

            .entrust .row {
                /* background-color: #ccc; */
                padding: 20px;
            }



            .row:nth-child(even) {
                background: linear-gradient(to right, #f6f6f6, #e9e9e9);
            }

            .row:nth-child(odd) {
                background: linear-gradient(to right, #e9e9e9, #f6f6f6);
            }

            .row .title {
                display: flex;
                justify-content: center;
            }

            .Release_Area_Wrap {
                padding: 20px;
            }
    </style>
}